.description {
  background-color: var(--color-element-background);
  padding: 20px;
  border-radius: 10px;
  position: relative;
  z-index: 200;
}

.iconWrapper {
  width: 34px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.title {
  font-size: 24px;
  color: var(--color-primary-purple);
}