.header {
  margin-bottom: 20px;
}

.title {
  font-size: var(--font-size-h-s);
  color: var(--color-primary-purple);
}

.myFormulas {
  border-radius: 10px;
  background-color: var(--color-element-background);
  padding: 20px;
  overflow: hidden;
}

.text {
  font-size: var(--font-size-h-xs);
}