.sidebar {
  display: flex;
  align-items: start;
  height: 100%;
  flex-direction: column;
  background-color: #FBF9FE;
  overflow: hidden;
  padding: 20px;
}

.userProfileWrapper {
  margin-block: 20px;
}

.sidebarItem {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--font-size-h-xs);
  padding: 10px;
  color: #000;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--color-bg-button-nav-hover);
  }
}

.sidebarItem:last-child {
  font-weight: 600;
}

.active {
  background-color: var(--color-bg-button-nav);

  &:hover {
    background-color: var(--color-bg-button-nav);
  }
}

.navItem:not(.active) {
  background-color: transparent;
}