@import '@styles/variables/pallete.css';

body {
  font-family: "Libre Franklin", sans-serif;
  background-color: var(--color-page-background);
  color: var(--color-text-black);
  letter-spacing: -0.04em;
  overflow: hidden
}

.mjx-char,
.MJXp-mi,
.MJXp-mn {
  font-family: "Libre Franklin", sans-serif !important;
  font-style: normal !important;
}

.katex-display {
  margin: 0 !important;
}

/* .mjx-char {
  font-size: var(--font-size-h-s) !important;
} */