*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
  background-color: transparent;
  font-size: inherit;

  &:disabled {
    cursor: not-allowed;
  }

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input,
textarea {
  border: none;
  font-family: inherit;
  outline: none;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}