.exportModal {
  width: 200px;
}

.text {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 14px;
  padding: 5px;
  transition: 0.3s ease background-color;
  border-radius: 5px;

  &:hover {
    background-color: var(--color-secondary-purple);
  }
}

.separator {
  margin-block: 5px;
}