.myFormulasDetailed {
  background-color: var(--color-element-background);
  border-radius: 10px;
  padding: 30px 10px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: calc(100vh - 20px);
  overflow: hidden;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: var(--font-size-large-32);
  font-weight: 800;
  color: var(--color-primary-purple);
  margin-bottom: 20px;
}

.header {
  padding-right: 35px;
}

.text {
  font-size: var(--font-size-h-s);
  font-weight: 200;
}