.header {
  display: flex;
  justify-content: space-between;
}

.title {
  color: var(--color-primary-purple);
}

.description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: var(--color-secondary-purple);
  border-radius: 5px;
  font-size: 20px;
}

.formulaItem {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: hidden;
}

.formula {
  font-size: 24px;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 20px;
}