.signUpPage {
  height: 100%;
  padding-inline: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wrapper {
  padding: 40px 65px;
  background-color: var(--color-element-background);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
}

.greetings {
  font-size: 40px;
  color: var(--color-primary-purple);
  margin-bottom: 40px;
}

.logoWrapper {
  margin-bottom: 30px;
}

.title {
  font-weight: 800;
  margin-block: 40px 30px;
  font-size: clamp(2.25rem, 5vw, 4rem);
  color: var(--color-text-black);
  letter-spacing: -2px;
}

.logoWrapper {
  width: 970px;
}

.formWrapper {
  margin-bottom: 40px;
}

.login {
  display: inline-block;
  margin-left: 10px;
  color: var(--color-primary-purple);
  cursor: pointer;
  transition: 0.3s ease color;
  font-size: var(--font-size-h-xs);

  &:hover {
    color: var(--color-bg-button-purple-hover);
  }
}

.forgetPassword {
  font-size: var(--font-size-h-xs);
  font-weight: 200;
}

.login {
  font-weight: 200;
}