.analyzePage {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.myFormulasWrapper,
.mathInputWrapper,
.keyboardWrapper,
.formulaPreviewWrapper,
.importWrapper {
  border-radius: 10px;
  width: 100%;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
}

.analyzeResultsWrapper {
  width: 100%;
}

.importWrapper,
.mathInputWrapper,
.formulaPreviewWrapper {
  margin-bottom: 10px;
}

.keyboardWrapper {
  max-height: 0;
  transition: max-height 0.3s ease;
  overflow: hidden;
}

.keyboardWrapper.visible {
  margin-bottom: 10px;
  max-height: 410px;
}

.analyzeResultsWrapper {
  margin-top: 10px;
}

.analyzeButton {
  width: 100%;
}